@page
@model ExerciceLogger.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>An Exercice Logger to keep track of every exercices done using <strong>Razor</strong> syntax, <strong>C#</strong> and an <strong>Sqlite Database</strong>.</p>
<p>The data can be managed from <strong>Home</strong>, and <strong>Reports</strong> shows a resume of every exercices.</p>